#sitemesh tr td a {
	display: block;
	font-weight: bold;
	text-decoration: none;
	color: #15428b;
	font-family: tahoma, arial, verdana, sans-serif;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	font-size: 11px;
	font-size-adjust: none;
	font-stretch: normal;
	text-decoration: underline;
	display: block;
	text-decoration: none;
	padding-top: 6px;
	padding-right: 0pt;
	padding-bottom: 6px;
	padding-left: 15px;
}

#sitemesh a:link,#sitemesh a:visited {
	background-color: #cedff5;
	color: #15428b;
	font-weight: bold;
	text-decoration: none;
}

#sitemesh a:hover,#sitemesh a:active {
	background-color: #99bbe8;
	color: #15428b;
	font-weight: bold;
	text-decoration: none;
}

#sitemesh tr td {
	margin-top: 0pt;
	margin-right: 0pt;
	margin-bottom: 0pt;
	margin-left: 0pt;
}


.docBody {
	-moz-border-radius: 12px;
	border-width: 3px;
	border-style: solid;
	border-color: #15428b;
	padding: 3px;
}

div.rounded {
	-moz-border-radius: 12px;
	border-width: 0px;
	border-style: solid;
	border-color: #bbccee;
	padding: 3px;
	background-color: #15428b;
}

div.roundedsearch {
	-moz-border-radius: 4px;
	border-width: 2px;
    border-style: solid;
    border-color: #b0d0b0;
	padding: 2px 2px;
    background-color: #f8fff8;
}

div.roundedlist {
	-moz-border-radius: 4px;
	border-width: 2px;
    border-style: solid;
    border-color: #d0b0b0;
	padding: 2px 2px;
    background-color: #fff8f8;
}
div.roundedsave {
	-moz-border-radius: 4px;
	border-width: 2px;
    border-style: solid;
    border-color: #b0b0d0;
	padding: 2px 2px;
    background-color: #f8f8ff;
}

.first {
	width: 16px;
	height: 16px; 
	display: block;
	background-image: url(/moneylaunderingrank/images/resultset_first.png) !important;
}
.last {
	width: 16px;
	height: 16px; 
	display: block;
	background-image: url(/moneylaunderingrank/images/resultset_last.png) !important;
}
.prev {
	width: 16px;
	height: 16px; 
	display: block;
	background-image: url(/moneylaunderingrank/images/resultset_previous.png) !important;
}
.next {
	width: 16px;
	height: 16px; 
	display: block;
	background-image: url(/moneylaunderingrank/images/resultset_next.png) !important;
}

.detailbutton{
	width: 66px;
	height: 20px; 
	display: block;
	border: 0;
	background-image: url(/moneylaunderingrank/images/detail.png) !important;
}

table.tablecloth td table th
{
	text-align: center;
	padding: 1px 1px;
	margin:  0px 0px;
	color: #6F2C0F;

	-moz-border-radius: 4px;
	border-width: 0px;
    border-style: solid;
    border-color: #FF8C1A;
    background-color: #FFdd66;
}

table.tablecloth, table.tablecloth td{
	font:100% Arial, Helvetica, sans-serif; 
}
table.tablecloth{width:100%;border-collapse:collapse;margin:1em 0;}
table.tablecloth th, table.tablecloth td{text-align:left;padding:.5em;border:1px solid #fff;font-size: 13px;}
table.tablecloth th{background:#328aa4 url(tr_back.gif) repeat-x;color:#fff;}
table.tablecloth td{background:#e5f1f4;}

/* tablecloth styles */

table.tablecloth tr.even td{background:#e5f1f4;}
table.tablecloth tr.odd td{background:#f8fbfc;}

table.tablecloth th.over, table.tablecloth tr.even th.over, table.tablecloth tr.odd th.over{background:#4a98af;}
table.tablecloth th.down, table.tablecloth tr.even th.down, table.tablecloth tr.odd th.down{background:#bce774;}
table.tablecloth th.selected, table.tablecloth tr.even th.selected, table.tablecloth tr.odd th.selected{}

table.tablecloth td.over, table.tablecloth tr.even td.over, table.tablecloth tr.odd td.over{background:#ecfbd4;}
table.tablecloth td.down, table.tablecloth tr.even td.down, table.tablecloth tr.odd td.down{background:#bce774;color:#fff;}
table.tablecloth td.selected, table.tablecloth tr.even td.selected, table.tablecloth tr.odd td.selected{background:#bce774;color:#555;}

/* use this if you want to apply different styleing to empty table cells*/
table.tablecloth td.empty, table.tablecloth tr.odd td.empty, table.tablecloth tr.even td.empty{background:#fff;}