<?xml version="1.0" encoding="UTF-8"?>
<!-- NOTE: If you're working offline, you might have to change the DOCTYPE to the following:
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">-->
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <mapping class="com.elulian.CustomerSecurityManagementSystem.vo.Role"/>
        <mapping class="com.elulian.CustomerSecurityManagementSystem.vo.UserInfo"/>
        <mapping class="com.elulian.CustomerSecurityManagementSystem.vo.CustomerInfo"/>
        <mapping class="com.elulian.CustomerSecurityManagementSystem.vo.RiskRank"/>
        <mapping class="com.elulian.CustomerSecurityManagementSystem.vo.Threshold"/>
        <class-cache usage="read-only" class="com.elulian.CustomerSecurityManagementSystem.vo.Role"/> 
        <class-cache usage="read-write" class="com.elulian.CustomerSecurityManagementSystem.vo.UserInfo"/>
        <class-cache usage="read-write" class="com.elulian.CustomerSecurityManagementSystem.vo.CustomerInfo"/>
        <class-cache usage="read-write" class="com.elulian.CustomerSecurityManagementSystem.vo.RiskRank"/>
        <class-cache usage="read-write" class="com.elulian.CustomerSecurityManagementSystem.vo.Threshold"/> 
    </session-factory>
</hibernate-configuration>